// Place all the styles related to the Bases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 拠点情報テーブル */ 

.label-base-create {
  margin-top: 5px;
}

.btn-base-create {
  margin-top: 10px;
}

.label-base-edit {
  margin-top: 5px;
}

.btn-base-edit {
  margin-top: 10px;
}